body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: none;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}

.logo {

  font-size: 2.5rem;
}

.header {
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1),
    0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  background-color: #0055DA;
}

.css-63dmq5-MuiStack-root {
  display: -webkit-box;
  margin-top: 0%;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}


.cryptoImg {
  width: 56px;
  background-size: cover;
}

.logo {
  border-radius: 50%;
  width: 25px;
  color: white;
}

.logos {
  border-radius: 50%;
  width: 45px;

}

.content h3 {
  padding-top: 50px;

}

.content p {
  padding-top: 10px;
  color: #002358;

}

strong {
  color: rgb(28, 31, 211);
}

.Span {

  font-size: 28px;
  position: relative;
  top: 4px;
  left: 5px;
}


.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.h1 {
  margin-bottom: 0;
}

.h3 {
  font-weight: bold;
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 0.1em;
  color: white;

}
.card:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.sup {
  background-attachment: fixed;
  align-items: center;

}

.p {
  margin-left: 0.2em;
  margin-bottom: 0;
}

.home_h1 {
  color: #0055da;
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 45px;
}

.home_p {

  font-size: 1.8rem;
  padding: 1.2rem 0;
  color: #002358;

}

.home {
  width: 350px;
}

.home_img {
  width: 100%;
}

.home_butt {
  border-radius: 10px;
  font-size: 16px;
  border: 0px solid;
  transition: 0.4s;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 25px 13px 25px;
  background: #4CC6A5;
  text-decoration: none;
  box-shadow: 2px 2px 7px #a99898;
}

.home_butt:hover {
  color: white;
  letter-spacing: 1.5px;
  box-shadow: 2px 2px 4px #978b8b;
}

.news-svg {
  fill: #0055da;
  width: 20px;
  margin-top: 5px;
}

.svg {
  margin: -4px
}

.svg2 {
  color: #0055da;
  position: relative;
  top: -2px;
}

.svg3 {
  width: 35px;
  fill: #0055da;
}

.svg4 {
  position: relative;
  top: 6px;
}

.menu {
  font-family: cursive;
  font-weight: bold;
  position: relative;
}

link {
  text-decoration: none;
}

.logo {
  font-family: cursive;
}

.svg6 {
  width: 10px;

}

.red {
  color: #daff00;
  display: flex;
  align-items: center;
}

.blue {
  display: flex;
  align-items: center;
  color: #5EBA7D;
}

.nav2 {
  font-size: 19px;
  color: #F65603;
  border-radius: 20px 20px 0 0;
  color: white;
  box-shadow: rgba(201, 242, 239, 0.9) 4px 9px 24px inset;
  box-sizing: border-box;
  z-index: 1;
  font-size: 1.8rem;
  inset: 0px;
  height: 100%;
  width: 100%;
  background-image: url(./utils/stats-background-image.webp), linear-gradient(0deg, rgba(33, 84, 210, 0.1), rgba(33, 84, 210, 0.1));
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 2% 85% !important;
}

.nav22 {
  font-size: 19px;
  color: #F65603;
  background-color: #0E1B62;
  border-radius: 10px;

  color: white;

}

.bar {
  background-color: white;
  border-radius: 15px;
}

.DESIGN {
 color: white;
  background-color: #2E0983;
}

.carding {
  color: red;
  width: 1600px;
}

.css-46bh2p-MuiCardContent-root {
  padding: 0px
}

input {
  width: 100%;
  text-align: center;
  color: #191934;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #7b6ee8;
  border-radius: 5px;


}

input:focus {
  box-shadow: 2px 2px 2px #7b6ee8;
  outline: none;

}

.hamburgert {

  stroke: #002358;
  height: 30px;
  width: 22px;
}

.Seerch {
  padding: 15px 2%;
}

.eff {
  box-shadow: 2px 2px 2px blue;
}

.DESIGNN {
  background-color: #2E0983;
  transition: 0.4S;
  border: 2PX solid rgb(148, 33, 255);
  border-radius: 25PX;
  color: white;
}

.DESIGNN:hover {
  transform: scale(1.2);
  box-shadow: 2PX 2PX 2PX gray;


}

.c1 {
  width: 500px;
}

.hambug {
  display: none;
  width: 40px;
  height: 35px;
}

.hambug2 {
  stroke: #002358;
  height: 30px;
  margin-left: -2px;
  width: 29px;

}

@media only screen and (max-width: 900px) {


  .hambug {
    display: block;
  }
  .card{
    width: 340px;
  }
}
  @media only screen and (max-width: 500px) {
    .home_h1 {
      font-size: 3.5rem;

    }
.nav2{

}
    .sup {
      background-attachment: fixed;
      margin-top: 50px;

    }

.card{
  width: 500px;
}
  




  .link {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .menu {

    font-weight: bold;
    width: 50%;
    border-radius: 16px 0 0 20px;
    background: #0055da;
    padding: 6%;
    display: flex;
    height: 22vh;
    position: absolute;
    top: 74px;
    /* padding: 25%; */
    left: 50%;
  }

}



.card{
  width: 280px;
  box-sizing: border-box;
    box-shadow: rgba(201, 242, 239, 0.5) 4px 6px 24px inset;
    border-radius: 20px 0; 
    background-color: rgb(2, 21, 115);
    background-image: radial-gradient(at 76% 99%, rgb(2, 21, 115) 0px, transparent 50%), radial-gradient(at 28% 3%, rgb(239, 52, 105) 0px, transparent 50%), radial-gradient(at 57% 33%, rgb(198, 241, 237) 0px, transparent 50%), radial-gradient(at 97% 67%, rgb(239, 57, 108) 0px, transparent 50%), radial-gradient(at 11% 80%, rgb(0, 86, 214) 0px, transparent 50%), radial-gradient(at 94% 34%, rgb(198, 241, 237) 0px, transparent 50%), radial-gradient(at 4% 32%, rgb(239, 52, 105) 0px, transparent 50%), radial-gradient(at 93% 6%, rgb(0, 86, 214) 0px, transparent 50%);
    background-size: 100%;
}
.cardContent{
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  color: white;
  background-color: rgb(180 173 173 / 30%);
}